{% extends "main.html" %}

{% block title %}Logi Page{% endblock %}

{% block main %}
<section id="login" class="login">
    <form id="login-form" action="/token" method="post">
        <h2>Login</h2>
        <div class="form-group">
            <label>
                Login ID
                <input type="text" name="username" required>
            </label>

        </div>
        <div class="form-group">
            <label>
                Password
                <input type="password" name="password" required>
            </label>
        </div>
        <button type="submit">Login</button>
    </form>
</section>
{% endblock %}
