<!DOCTYPE HTML>

<html lang="en">
{% block head %}

<head>
    <meta charset="utf-8">
    <title>Track List - {% block title %}Index{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
    <!-- Different styles for admin, for visibility -->
    <link href="/static/styles.css" rel=stylesheet type="text/css">
    {% endblock %}
    <meta charset="UTF-8">
    <link rel="icon" href="/static/images/favicon.png">
    {% block load_scripts %}
    {% if cache_bust %}
    <script src="/static/{{ cache_bust('main.js') }}" type="module"></script>
    {% else %}
    <script src="/static/main.js" type="module"></script>
    {% endif %}
    {% if module %}
    <script src="/static/{{module}}.js" type="module"></script>
    <script>
        let ws_type = {{ws_type | tojson}};
        let ws_group = {{ws_group | tojson}};
    </script>
    {% endif %}
    {% endblock %}
</head>
{% endblock %}

<body>
    <header role="banner">
        <div id="branding_nav">
            <div class="topbar">
                <a href="/">Track List</a>
                <div class="user">
                    {% if user.username %}
                    Logged in as {{ user.username }}
                    {% endif %}
                </div>
            </div>
        </div>
        <nav>
            <ul>
                {% if user.user_level %}
                {% if user.user_level >= 2 %}
                <li><a href="/admin/users">Users</a></li>
                <li><a href="/tracks">Your Song Dashboard</a></li>
                {% else %}
                <li><a href="/tracks">Dashboard</a></li>
                {% endif %}
                {% endif %}
            </ul>
        </nav>
    </header>
    <br style="clear:both">
    <main>
        {% block main %}
        <section id="pattern" class="pattern">
            A section of the screen
        </section>
        {% endblock %}
    </main>
    {% block footer %}
    <footer aria-label="footer">
        <h3>&copy; {{year}} </h3>
        <h4>contact: mike@mzoo.org</h4>
    </footer>
    {% endblock %}
    <dialog id=main>
        <section>
            <header id="dlg_header" aria-label="dialog header">
                <h2></h2>
                <button class="dialog_close" type="button">x</button>
            </header>
            <div class="dlg_content"></div>
            <footer aria-label="dialog footer"></footer>
        </section>
    </dialog>
    <dialog id=spinner>
        LOADING...
    </dialog>
</body>

</html>
