{% extends "main.html" %}
{% block main %}

<ul class="eventlist">
    {% for e in events %}
    <li data-date="{{e.date}}">
        <div class="card">
            <h2>{{e.title}}</h2>
            <p class="personelle">
                <span class="label">Presenter</span> {{e.presenter}} &nbsp; &mdash; &nbsp;
                <span class="label">Service Leader</span> {{e.contact}}
            </p>
            <ul class="eventsongs"> {% for s in e.songs %}
                <li data-number="{{ s.song_number }}">{{ s.title }}</li>
                {% endfor %}
            </ul>
        </div>
    </li>
    {% endfor %}
</ul>

<button type="button">click button</button>

<a href="#" class="button">button link</a>

<table>
    <caption>Sample Table</caption>
    <thead>
        <tr>
            <th scope="row">header one</th>
            <th scope="row">header two</th>
            <th scope="row">header three</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>attr one</td>
            <td>attr two</td>
            <td>attr three</td>
        </tr>
        <tr>
            <td>attr one</td>
            <td>attr two</td>
            <td>attr three</td>
        </tr>
        <tr>
            <td>attr one</td>
            <td>attr two</td>
            <td>attr three</td>
        </tr>
    </tbody>
</table>

{% set colorVars = [
("--brandprimary", "rgb(187, 82, 239)"),
("--brandprimarylight", "rgb(214, 160, 240)"),
("--brandprimarydark", "rgb(83, 38, 106)"),
("--brandsecondary", "rgb(234, 92, 147)"),
("--notification", "green"),
("--warning", "yellow"),
("--alert", "red"),
("--black", "rgb(61, 61, 59)"),
("--white", "rgb(246, 245, 207)"),
("--lightgrey", "lightgrey"),
("--grey", "grey"),
("--transparentgrey", "#99999933"),
] %}
<table>
    <caption>Colors</caption>
    <thead>
        <tr>
            <th scope="row">Name</th>
            <th scope="row">Color Swatch</th>
        </tr>
    </thead>
    <tbody>
        {% for col in colorVars %}
        <tr>
            <td>{{col[0]}}</td>
            <td style="background-color: var({{col[0]}})"></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
